<h1>Fancy cocktails!</h1>
<div class="container">
  <% @cocktails.each do |cocktail| %>
    <div class="card" style="width: 18rem;">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
      <% cocktail.ingredients.each do |ingredient|%>
        <ul>
          <li><%= ingredient.name %></li>
        </ul>
      <% end %>
  <% end %>
</div>






<%= link_to "New", new_cocktail_path %>
